
<div style="display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; padding: 4%;">
    <div style="flex: 1; text-align: center; min-width: 100px;"><img src="/images/main-logo.jpg" alt="Logo" class="logo" width="100px" /></div>
    <div style="flex: 1; text-align: center; min-width: 100px;"><a href="/">Careers</a></div>
    <div style="flex: 1; text-align: center; min-width: 100px;"><a href="/contact/">Contact</a></div>
    <div style="flex: 1; min-width: 100px;" class="bg-gray-100 p-6 flex justify-center items-center min-h-screen"><img src="/linkedin-small.jpg" /></div>
    <div style="flex: 1; text-align: center; min-width: 100px;"><a href="/">Cookie Policy</a></div>
    <div style="flex: 1; text-align: center; min-width: 100px;"><a href="/">Privacy Policy</a></div>
    <div style="flex: 1; text-align: center; min-width: 100px;">&copy;2025</div>
    <div style="flex: 1; text-align: center; min-width: 100px;">Site by: <a href="http://tessbodley.com" target="_blank">Tess Bodley</a></div>
</div>

